@import url('https://fonts.googleapis.com/css?family=Ovo|Playfair+Display:400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,600,600i,700,700i,800,800i,900,900i');
$font-ovo: 'Ovo', serif;
$font-playfair: 'Playfair Display', serif;
$font-poppins: 'Poppins', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;

//Base Color palette - reference of bg-color palette and Text Color Palette or can be removed totally
$color1: #222222;
$color2: #e8e8e8;


$color-white: #ffffff;
$color-dirty-white: #f8f6f6;
$color-default: #272626;

$gray1: #8e8e8e;
$gray2: #373737;
$gray3: #272727;

$header-bg: #F6F6F7;
$header-bg-hover: rgba(#ffffff, 1);

//Bg Color Pallette 
$bg-color1: #222222;
$bg-color2: #e8e8e8;


$bg-white: #ffffff;
$bg-blue-white: #dce5ec;
$bg-default: #272626;

//Text Color Palette
$text-color1: #222222 ;
$text-color2: #888888;
$text-white: #ffffff;

$border-light-grey: #CCCCCC;
$border-dark-grey: #222222;
$required-star: #C90000;



@mixin placeHolder() {
  &::-webkit-input-placeholder {
    //* Chrome/Opera/Safari */
    @content;
  }

  &::-moz-placeholder {
    //* Firefox 19+ */
    @content;
  }

  &:-ms-input-placeholder {
    //* IE 10+ */
    @content;
  }

  &:-moz-placeholder {
    //* Firefox 18- */
    @content;
  }

  &::-ms-input-placeholder {
    @content;
  }
}
@mixin ios-device(){
  @supports (-webkit-overflow-scrolling: touch) {
    @content;
    //CSS specific to iOS devices
  }
}
@mixin not-ios-device(){
  @supports not (-webkit-overflow-scrolling: touch) {
    @content;
  // CSS for other than iOS devices
  }
}
@mixin ie(){
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
     @content;
  //CSS for IE explorer
  }
}
@mixin edge(){
    @supports (-ms-ime-align: auto) {
        @content;
    }
}

// Media query >
@mixin min($media){
  @media(min-width:$media) { @content; }
}
@mixin max($media){
  @media(max-width:$media) {
    @content;
  }
}
@mixin between($min, $max) {
   @media screen and (min-width: $min) and (max-width: $max)  {
      @content;
  }
}

//Grid
// @mixin ry-container($col,$max-w,$mob-col){
//     width: 100% !important;
//   @include between(992px,1920px){
//     width: calc(100% - calc-col($col));
//     padding-left: calc-col($col) !important;
//     padding-right: calc-col($col) !important;
//   }
//   @include min(1921px){
//     max-width: $max-w !important;
//   }
//   @include max(991px){
//     padding-right: calc-col($mob-col) !important;
//     padding-left: calc-col($mob-col) !important;
//   }
// }

// Column Based Grid 
@function calc-vw-($column){
  @return  $column/12 * 100vw;
}



body {
  color: $text-color1;
  p{
    color: $text-color2;
  }
}

.btn-primary {
  border: 3px solid $border-dark-grey;
  background: transparent;
  color: $text-color1;
  &:hover, &:active, &:focus {
    background: $bg-color1;
    border-color: $bg-color1;
  }
}

.navbar {
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  background: $header-bg;
  padding: 0;
  position: fixed;
  z-index: 1;

  .container {
    display: flex;
    justify-content: flex-end;
  }

  .cart-items{ 
      display: none;
  }

  .cart-items {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    background: $bg-white;
    border: 1px solid $border-light-grey;
    z-index: 0;
    margin-top: -1px;
    padding: 20px;

    .cart-item-row {
      display: flex;
      align-items: flex-start;
      min-width: 250px;
      margin: 5px 5px 10px;
      
      .thumbnail-wrap {
        margin-right: 20px;
      }
      
      .cart-item-detail-wrap {
        flex: 1;
        display: flex;
        flex-direction: column;

        .cart-item-detail {
          margin-bottom: 3px;
        }

        .cart-item-quantity-price-times-quantity-row {
          margin-bottom: 10px;
        }
      }
    }
  }
  
  .cart-display {
    padding: 5px 20px;
    box-sizing: border-box;
    border: 1px solid transparent;
  
    span {
      font-size: 14px;
    }


    &:hover {
      span {
        font-weight: 500;
      }
    }
  }

  .cart-block {
    position: relative;
    cursor: pointer;

    &.open {
      .cart-items{
        display: flex !important;
      }

      .cart-display {
        border: 1px solid $border-light-grey;
        background: $bg-white;
        border-bottom: 1px solid white;
        position: relative;
        z-index: 1;

        span {
          font-weight: 500;
        }
      }
    }

  }
}
.page-content-container {
  padding-top: 80px;
}

.pg-body {
  .module-left {
    @include max(991px) {
      margin-bottom: 30px;
    }
  }
  .module-right {
    .item-name {
      margin-bottom: 30px;
      h2 {
        font-size: 30px;
      }
    }

    .item-price {
      margin-bottom: 30px;
      span {
        color: $text-color1;
        font-weight: 700;
      }
    }

    .item-options {
      .item-size-label {
        display: inline-block;
        margin-bottom: 20px;

        &::after {
          content: '*';
          color: $required-star;
          font-size: 18px;
        }
      }
      .sizes {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        padding-left: 0;

        li {
          margin-right: 5px;
          border: 1px solid $border-light-grey;
          width: 45px ;
          height: 45px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

           span {
            font-weight: 100;
            color: $text-color2;
            font-size: 14px;
            pointer-events: none;
          }

          &.selected {
            border: 2px solid $border-dark-grey;
          
            span {
              font-weight: 400;
              color: $text-color1;
            }
          }
        }
      }
    }
  }
}
.btn-container {
  margin-bottom: 20px;
}
.alert {
  display: none;
}

.cart-label {
  @include max(991px) {
    display: none;
  }
}
.fa-shopping-cart {
  @include min(992px) {
    display: none;
  }
}

