@import url("https://fonts.googleapis.com/css?family=Ovo|Playfair+Display:400,400i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,600,600i,700,700i,800,800i,900,900i");
/* line 132, ../sass/main.scss */
body {
  color: #222222;
}
/* line 134, ../sass/main.scss */
body p {
  color: #888888;
}

/* line 139, ../sass/main.scss */
.btn-primary {
  border: 3px solid #222222;
  background: transparent;
  color: #222222;
}
/* line 143, ../sass/main.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: #222222;
  border-color: #222222;
}

/* line 149, ../sass/main.scss */
.navbar {
  margin-top: 5px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  background: #F6F6F7;
  padding: 0;
  position: fixed;
  z-index: 1;
}
/* line 159, ../sass/main.scss */
.navbar .container {
  display: flex;
  justify-content: flex-end;
}
/* line 164, ../sass/main.scss */
.navbar .cart-items {
  display: none;
}
/* line 168, ../sass/main.scss */
.navbar .cart-items {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  background: #ffffff;
  border: 1px solid #CCCCCC;
  z-index: 0;
  margin-top: -1px;
  padding: 20px;
}
/* line 179, ../sass/main.scss */
.navbar .cart-items .cart-item-row {
  display: flex;
  align-items: flex-start;
  min-width: 250px;
  margin: 5px 5px 10px;
}
/* line 185, ../sass/main.scss */
.navbar .cart-items .cart-item-row .thumbnail-wrap {
  margin-right: 20px;
}
/* line 189, ../sass/main.scss */
.navbar .cart-items .cart-item-row .cart-item-detail-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}
/* line 194, ../sass/main.scss */
.navbar .cart-items .cart-item-row .cart-item-detail-wrap .cart-item-detail {
  margin-bottom: 3px;
}
/* line 198, ../sass/main.scss */
.navbar .cart-items .cart-item-row .cart-item-detail-wrap .cart-item-quantity-price-times-quantity-row {
  margin-bottom: 10px;
}
/* line 205, ../sass/main.scss */
.navbar .cart-display {
  padding: 5px 20px;
  box-sizing: border-box;
  border: 1px solid transparent;
}
/* line 210, ../sass/main.scss */
.navbar .cart-display span {
  font-size: 14px;
}
/* line 216, ../sass/main.scss */
.navbar .cart-display:hover span {
  font-weight: 500;
}
/* line 222, ../sass/main.scss */
.navbar .cart-block {
  position: relative;
  cursor: pointer;
}
/* line 227, ../sass/main.scss */
.navbar .cart-block.open .cart-items {
  display: flex !important;
}
/* line 231, ../sass/main.scss */
.navbar .cart-block.open .cart-display {
  border: 1px solid #CCCCCC;
  background: #ffffff;
  border-bottom: 1px solid white;
  position: relative;
  z-index: 1;
}
/* line 238, ../sass/main.scss */
.navbar .cart-block.open .cart-display span {
  font-weight: 500;
}

/* line 246, ../sass/main.scss */
.page-content-container {
  padding-top: 80px;
}

@media (max-width: 991px) {
  /* line 251, ../sass/main.scss */
  .pg-body .module-left {
    margin-bottom: 30px;
  }
}
/* line 257, ../sass/main.scss */
.pg-body .module-right .item-name {
  margin-bottom: 30px;
}
/* line 259, ../sass/main.scss */
.pg-body .module-right .item-name h2 {
  font-size: 30px;
}
/* line 264, ../sass/main.scss */
.pg-body .module-right .item-price {
  margin-bottom: 30px;
}
/* line 266, ../sass/main.scss */
.pg-body .module-right .item-price span {
  color: #222222;
  font-weight: 700;
}
/* line 273, ../sass/main.scss */
.pg-body .module-right .item-options .item-size-label {
  display: inline-block;
  margin-bottom: 20px;
}
/* line 277, ../sass/main.scss */
.pg-body .module-right .item-options .item-size-label::after {
  content: '*';
  color: #C90000;
  font-size: 18px;
}
/* line 283, ../sass/main.scss */
.pg-body .module-right .item-options .sizes {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding-left: 0;
}
/* line 289, ../sass/main.scss */
.pg-body .module-right .item-options .sizes li {
  margin-right: 5px;
  border: 1px solid #CCCCCC;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
/* line 299, ../sass/main.scss */
.pg-body .module-right .item-options .sizes li span {
  font-weight: 100;
  color: #888888;
  font-size: 14px;
  pointer-events: none;
}
/* line 306, ../sass/main.scss */
.pg-body .module-right .item-options .sizes li.selected {
  border: 2px solid #222222;
}
/* line 309, ../sass/main.scss */
.pg-body .module-right .item-options .sizes li.selected span {
  font-weight: 400;
  color: #222222;
}

/* line 319, ../sass/main.scss */
.btn-container {
  margin-bottom: 20px;
}

/* line 322, ../sass/main.scss */
.alert {
  display: none;
}

@media (max-width: 991px) {
  /* line 326, ../sass/main.scss */
  .cart-label {
    display: none;
  }
}

@media (min-width: 992px) {
  /* line 331, ../sass/main.scss */
  .fa-shopping-cart {
    display: none;
  }
}
